<!DOCTYPE html>
<html>
<head>
    <title>The Random Password Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1>The Random Password Generator</h1>
<form method="POST" action="/" onsubmit="return validateForm()">
    <div>
        <label for="length">Length:</label>
        <input type="number" id="length" name="length" min="8" max="50" value="{{ default_length|default('10') }}"
               required>
    </div>

    <div>
        <label><input type="checkbox" id="uppercase" name="uppercase" checked> Include uppercase letters</label>
    </div>

    <div>
        <label><input type="checkbox" id="lowercase" name="lowercase" checked> Include lowercase letters</label>
    </div>

    <div>
        <label><input type="checkbox" id="special_chars" name="special_chars" checked> Include special
            characters</label>
    </div>

    <div>
        <label><input type="checkbox" id="numbers" name="numbers" checked> Include numbers</label>
    </div>

    <input type="submit" value="Generate Password">
</form>

<div id="error-message" style="text-align: center; color: #ff0000; display: none;">Please select at least one option
</div>

{% if password %}
<div class="password-container">
    <p class="password-label">Password is:</p>
    <div class="generated-password" id="password-box">{{ password }}</div>
    <button class="copy-button" onclick="copyPassword(this)">Copy</button>
</div>
{% endif %}

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>